{% extends "base.html" %}

{% block title %}Register{% endblock %}
{% block body_class %}auth-page{% endblock %}

{% block content %}
<div class="card centered-card shadow-lg">
    <h2>Create Account</h2>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger text-center">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST">
        <input type="text" name="name" class="form-control mb-3" placeholder="Full Name" required>
        <input type="email" name="email" class="form-control mb-3" placeholder="Email" required>
        <input type="text" name="phone" class="form-control mb-3" placeholder="Phone" required>
        <input type="password" name="password" class="form-control mb-3" placeholder="Password" required>

        <button class="btn btn-success w-100">Register</button>
    </form>

    <div class="text-center mt-3">
        <small>Already have an account?
            <a href="{{ url_for('login') }}">Login</a>
        </small>
    </div>
</div>
{% endblock %}