{% extends "base.html" %}

{% block content %}
<h2>Track Package</h2>

<form method="POST">
    <input class="form-control mb-2" name="tracking_number" placeholder="Enter Tracking Number">
    <button class="btn btn-info">Track</button>
</form>

{% if package %}
<div class="card mt-3">
    <div class="card-body">
        <h5>Status: {{ package.status }}</h5>
        <p><strong>Description:</strong> {{ package.description }}</p>
        <p><strong>Pickup Address:</strong> {{ package.pickup_address }}</p>
        <p><strong>Date:</strong> {{ package.pickup_date }}</p>
    </div>
</div>
{% endif %}
{% endblock %}